<div class="row">
  <div class="col-xs-12">
    <div class="button btn btn-success">New Recipe</div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-12 col-md-12">
    <a href="#" class="list-group-item d-flex" *ngFor="let recipe of recipes">
      <div class="flex-fill">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span>
        <img
          [src]="recipe.imagePath"
          alt=""
          class="img-responsive"
          style="max-height: 50px"
        />
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
