<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-9 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" />
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success ml-2" type="submit">Add</button>
          <button class="btn btn-danger ml-2" type="button">Delete</button>
          <button class="btn btn-primary ml-2" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
